* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.page {
  font-family: 'Lato', sans-serif;

  width: 95%;
  margin: auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #C1FFDB;
}

/* headers */
h1 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 4rem;
}

/* form */
#mform {
  width: 100%;

  display: flex;
  flex-direction: column;
}
#mform div{
  margin: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mform .minput input {
  height: 40px;
  width: 75%;
  padding-left: 5px;
  
  border: 1px solid grey;
  border-radius: 8px;
}

#mbutton {
  display: flex;
  flex-direction: row-reverse;
}
#mbutton input {
  width: 100px;
  height: 30px;
  color: white;
  background-color: #3689f2;
  font-size: 100%; /* for the button text */

  border: none;
  border-radius: 7%;
}

/* image list */
.viewparent {
  list-style-type: none;
  margin: 2px;
}
.viewparent:hover {
  opacity: .65;
}

.view:after {
  opacity: 0;
  transition: opacity .5s;

  font-family: 'Lato', sans-serif;
  font-size: 5rem;
  content: "\00d7"; /* &times; */
  text-shadow: 2px 2px 2px black; 

  /* mix-blend-mode: hard-light; */
  /* background-color: sandybrown; */
  
  display: flex;
  align-items: center;
  justify-content: center;

  /* makes it so you can click the area 
  instead of only the 'X' to delete */
  width: 100%;
  height: 100%;
  

  /* positioning and sizing of opaque layer */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7%;
}
.viewparent:hover .view:after {
  opacity: .75;
}

#viewlist {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80%;
}

img {
  border-radius: 7%;
  width: 100%;
}

.view {
  display: flex;
  position: relative;

  /* for word outline */
  color: white;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  /* background-color: #C1FFDB; */
}

.imagetext{
  position: absolute;
  left: 50%;
  transform: translate(-50%); 
  text-align: center;

  font-family: 'Anton', sans-serif;
  font-size: 2rem;
}

.top {
  top: 5%;

  /* background-color: seagreen; */
}

.bottom {
  bottom: 5%;

  /* background-color: #D8F5FF; */
}